{% extends 'templates/default.twig' %}

{% block title %} Create | Group {% endblock %}

{% block content %}

<div class="box box-info"style="margin-top:30px">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><strong>Create Group</strong></h3></div>
		<div class="panel-body">
			<form action="{{ path_for('create.group.post') }}" method="POST" enctype="multipart/form-data">
				{% if errors %}
				<div class="alert alert-danger">
					<a class="close" data-dismiss="alert" href="#">x</a>Please make sure all required fields are filled out correctly!
				</div>
				{% endif %}
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-7">
						<div class="form-group {{ errors.name ? 'has-error' : '' }}">
							<label for="name">Name</label>
							<input type="text" name="name" id="title" class="form-control" value="{{ old.name }}">
							{% if errors.name %}
							<span class="help-block">{{errors.name | first}}</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-7">
						<div class="form-group {{ errors.image ? 'has-error' : '' }}">
							<label for="image">Image</label>
							<input type="file" name="image" id="image" class="form-control">
							{% if errors.image %}
							<span class="help-block">{{errors.image | first}}</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-12">
						<div class="form-group {{ errors.description ? 'has-error' : '' }}">
							<label for=description>Description</label>
							<textarea name="description" id="description" class="form-control">{{ old.description }}</textarea>
							{% if errors.description %}
							<span class="help-block">{{errors.description | first}}</span>
							{% endif %}
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>  CREATE</button>
				<hr style="margin-top:10px;margin-bottom:10px;" >
			</form>
		</div>
	</div>
</div>

{% endblock %}
