{% extends 'templates/default.twig' %}

{% block title %} Group | All Users {% endblock %}

{% block headContent %}
	All Users<i style="color:green" class="fa fa-check-square-o"></i>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="{{ path_for('user.group.set') }}" method="POST">
					<table id="example2" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Gender</th>
								<th>Address</th>
								<th>Status</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Image</th>
								<th style="width: 40px">Select</th>
							</tr>
						</thead>
						{% for user in users %}
						{% if (user.status == 0) %}
						{% set status = 'Member' %}
						{% elseif (user.status == 1) %}
						{% set  status = 'PIC' %}
						{% elseif (user.status == 2) %}
						{% set status = 'Guardian' %}
						{% endif %}
						<tr>
							<td>{{ user.name }}</td>
							<td>{{ user.gender }}</td>
							<td>{{ user.address }}</td>
							<td>{{ status }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.phone }}</td>
							<td><img src="{{ base_url() }}/assets/images/{{ user.image }}" width="100" height="100"></td>
							<td class="text-center"><input type="checkbox" name="user[]" value="{{ user.id }}"></td>
						</tr>
						{% endfor %}
					</table>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</div>
				<div class="panel-body" align="right">
					<input type="hidden" name="id" value="{{ group_id }}">
					<button type="submit" name="guard" value="2" class="btn btn-warning"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> Set as Guardian</button>
					<button type="submit" name="member" value="1" class="btn btn-success"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Set as Member</button>
					<button type="submit" name="pic" value="3" class="btn btn-primary"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Set as PIC</button>
					<button type="submit" name="delete" value="4" class="btn btn-danger"><i class="fa fa-user-times fa-lg" aria-hidden="true"></i> Delete</button>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
