{% extends 'templates/default.twig' %}

{% block title %} Create User {% endblock %}
{% block headContent %} Create User <a href=""><i class="fa fa-plus"></i></a> {% endblock %}       

{% block content %}
  <form action="{{ path_for('user.create')}}"  method="POST" enctype="multipart/form-data">
    <div class="box box-info">
        <div class="box-header">
            <center>
                <h3 class="box-title" style="font-family:impact"> Form User</h3>
            </center>
            <div class="box-body">
                <div class="form-group {{ errors.username ? 'has-error' : '' }}" >
                    <label>Username:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        <input type="text" name="username" class="form-control" value="{{ old.username }}" placeholder="Your Username">
                    </div>  
                    {% if errors.username %}
                        <span class="help-block">
                            {{errors.username | first}}</span>
                    {% endif %}
                </div>

                <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                    <label>Name:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" name="name" class="form-control" value="{{ old.name }}" placeholder="Your Name">
                    </div>
                    {% if errors.name %}
                        <span class="help-block">{{errors.name | first}}</span>
                    {% endif %}                                
                </div>

                <div class="form-group {{ errors.email ? 'has-error' : '' }}">
                    <label>email:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input type="text" name="email" class="form-control" value="{{ old.email }}" placeholder="Your email">
                    </div>
                    {% if errors.email %}
                        <span class="help-block">{{errors.email | first}}</span>
                    {% endif %}                                
                </div>

                <div class="form-group {{ errors.password ? 'has-error' : '' }}">
                    <label>Password :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Your Password">
                    </div>
                    {% if errors.password %}
                        <span class="help-block">
                            {{errors.password | first}}</span>
                    {% endif %}                 
                </div>

                <div class="form-group {{ errors.gender ? 'has-error' : '' }}">
                    <label>gender :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-transgender-alt"></i>
                        </div>
                        <input type="text" name="gender" value="{{old.gender}}" class="form-control" placeholder="Your gender">
                    </div>
                    {% if errors.gender %}
                        <span class="help-block">
                            {{errors.gender | first}}</span>
                    {% endif %}                 
                </div>

                <div class="form-group {{ errors.phone ? 'has-error' : '' }}">
                    <label>Phone Number:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" class="form-control input-medium bfh-phone" data-format="+62 (ddd) ddd-ddd-ddd" name="phone" value="{{ old.phone }}" placeholder="Your phone">
                    </div>
                    {% if errors.phone %}
                        <span class="help-block">{{errors.phone | first}}</span>
                    {% endif %}                                
                </div>

                 <div class="form-group {{ errors.address ? 'has-error' : '' }}">
                    <label>address:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input type="text" name="address" class="form-control" value="{{ old.address }}" placeholder="Your address">
                    </div>
                    {% if errors.address %}
                        <span class="help-block">{{errors.address | first}}</span>
                    {% endif %}                                
                </div>
    
                <div class="form-group {{ errors.image ? 'has-error' : '' }}">
                    <label>Image :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-image"></i>
                        </div>
                        <input type="file" class="form-control" name="image" value="{{ old.image }}" id="image" placeholder="Your image">
                    </div>
                    {% if errors.image %}
                        <span class="help-block">{{errors.image | first}}</span>
                    {% endif %}                                
                </div>

                <button type="submit" class="btn btn-default" style="margin:10px"><span class="glyphicon glyphicon-share-alt"></span> Create</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}  