<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="http://www.istackcrm.in/media/1425/advance-reporting.png" class="img-circle" alt="User Image">
        </div>

        <div class="pull-left info">
            <p>{{user.name}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online
            </a>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li class="header">NAVIGATION MENU</li>
        <li class="treeview">
            <a href="{{path_for('home')}}"><i class="fa ion-ios-speedometer fa-lg"></i>
            <span>HOME</span></a>
        </li class="treeview">
        <li class="treeview">
            <a href="#"><i class="fa fa-users"></i>
                <span>GROUP</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Group List</a></li>
                <li><a href="#">Add Group</a></li>
                <li><a href="#">Group Inactive</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-user-circle-o"></i>
                <span>USER</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{path_for('user.list.all')}}">User List</a></li>
                <li><a href="{{path_for('user.create')}}">Create User</a></li>
                <li><a href="{{path_for('user.trash')}}">User Inactive</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-list-alt"></i>
                <span>ARTICLE</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Article List List</a></li>
                <li><a href="#">Create Article</a></li>
                <li><a href="#">Trash</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-sitemap"></i>
                <span>ITEM</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Item List</a></li>
                <li><a href="#">Create Item</a></li>
                <li><a href="#">Trash</a></li>
            </ul>

        <li>
         <a href="#"><i class="fa fa-power-off"></i>
            <span>LOGOUT</span></a>
        </li>

        </ul>
    </li>
</ul>


</section>
